@import url('https://fonts.googleapis.com/css?family=Muli:600,800,900');

@font-face {
  font-family:proximaReg;
  src: url(../assets/proxima/ProximaNova-Regular.otf);
}


* {
  margin: 0;
  padding: 0;

}

body {
  //font-family: 'Josefin Sans', sans-serif;
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  background: #f2f6f9;
  color: #666;
  margin: 0;
  padding: 0;

}

a {
  text-decoration: none;
  color: #666;
}

a:hover {
  text-decoration: none;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
}

ul,
p,
ol {
  list-style: none;
  margin: 0;
  padding: 0;

}

figure {
  margin: 0;
}

.custom {
  
  float: left;
}


hr{
  margin-top:.5rem;
  margin-bottom:.5rem;
}
// ======================================================================
//END CSS FOR CUSTOM SCROLL BAR
//=======================================================================