@import url('https://fonts.googleapis.com/css?family=Muli:600,800,900');


@font-face {
  font-family: proximaReg;
  src: url(../assets/proxima/ProximaNova-Regular.otf);
}

* {
  margin: 0;
  padding: 0;

}

body {
  //font-family: 'Josefin Sans', sans-serif;
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  background: #f2f6f9;
  color: #666;
  margin: 0;
  padding: 0;

}

a {
  text-decoration: none;
  color: #666;
}

a:hover {
  text-decoration: none;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  //font-family: 'Muli', sans-serif;
  margin: 0;
}

ul,
p,
ol {
  list-style: none;
  margin: 0;
  padding: 0;

}

figure {
  margin: 0;
}


$primary: rgb(246, 104, 46);

.rider {
  // position: absolute;
  // top: 0px;
  // right: 0;
  // background: $primary;
  // width: 75px;
  // height: 50px;
  // display: flex;
  // justify-content: center;
  // align-items: center;

  i {
    font-size: 38px;
    //    color:$primary;
  }
}

.orange {
  color: $primary;
}

.btn-orange {
  background: $primary;
  border: $primary;
  color: #fff;

}

.no-wrap {
  white-space: nowrap;
}


hr {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.bold {
  font-weight: bold;
}

// ======================================================================
//END CSS FOR CUSTOM SCROLL BAR
//=======================================================================


.status {
  display: inline-flex;
  align-items: center;
  color: #ffffff;
  border-radius: 3px;
  padding: 0 5px;
  margin-left: 10px;

  &--open {
    background: #5cb85c;

  }

  &--closed {
    background: #c4001d;

  }
}

a.primary-link, a.primary-link:hover {
  color: darken(#00A082, 10%);
  font-weight: 700;
  border-right: 3px solid darken(#00A082, 10%);
}

