.home {
    height: 100vh;
    z-index: 0;
    position: relative;
    top: -80px;
    margin-bottom: -80px;
    overflow: hidden;
    color: #fff;

    .left-side,
    .right-side {
        width: 50%;
    }

    .left-side {
        padding: 100px 0 0;
        background: #333;

        .search-wraps,
        .app_links {
            padding: 0 50px 0 100px;
        }

        .app_links {
            position: absolute;
            bottom: 50px;

            div {
                max-width: 150px;
                cursor: pointer;
                margin: 10px;

               

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }

        .social_links {
            position: absolute;
            bottom: 50px;
            right: 100px;

            i {
                font-size: 22px;
                margin: 5px;
            }

            a {
                .icofont-facebook {
                    color: #3b5998
                }

                .icofont-twitter {
                    color: #00aced;
                }

                .icofont-youtube {
                    color: #bb0000;
                }

                .icofont-linkedin {
                    color: #007bb6;
                }

                .icofont-instagram {
                    color: #fb3958;
                }
            }
        }
    }

    .right-side {
        background: url('../assets/food.jpg') no-repeat;
        background-size: contain;
        background-position: center;




    }


}
