$primary: rgb(246, 104, 46);
$secondary: rgb(230, 84, 27);
$success: rgb(26, 231, 88);
$info: rgb(163, 49, 4);
$warning: rgb(248, 245, 42);
$danger: rgb(236, 17, 17);
$light: rgb(221, 221, 221);
$dark: rgb(32, 32, 32);

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark
);

// Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap";
// BootstrapVue and its default variables
@import "../../node_modules/bootstrap-vue/src/index.scss";
